{% load cms_tags staticfiles sekizai_tags %}

<div id="r-aparent"></div>

{% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/vc/romanager.css' %}">
{% endaddtoblock %}

{% addtoblock "js" %}
    <script type="text/javascript" src="{% static 'js/vc/addtoro.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $( '#r-aparent' ).addtoro( {
                btnClass: 'bg-white fg-ee-primary',
            } );
        });
    </script>
{% endaddtoblock %}