{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags %}

{% block content %}
    <form id="l-form">
        {% csrf_token %}
    </form>
    
    {% addtoblock "css" %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/lib/icheck/skins/flat/aero.css' %}"/>

        <link rel="stylesheet" type="text/css" href="{% static 'css/vc/login.css' %}"/>
    {% endaddtoblock %}
    
    {% addtoblock "js" %}
        <script src="{% static 'js/lib/icheck.min.js' %}"></script>

        <script src="{% static 'js/vc/login.js' %}"></script>
        <script type="text/javascript">
            $(function () {
                $('#l-form').auth();
            });
        </script>
    {% endaddtoblock %}
{% endblock content %}